body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fb;
}

/* HERO LAYOUT */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 0 10%;
}

/* LEFT IMAGE */
.hero-left img {
    width: 520px;
    height: 520px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* RIGHT TEXT */
.hero-right {
    max-width: 450px;
    text-align: left;
    font-weight: bold;
    
}

.hero-right h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

.hero-right p {
    color: #555;
    margin-bottom: 20px;
}

/* BUTTON */
.hero-btn {
    padding: 12px 25px;
    border: none;
    background: #4da3ff;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.hero-btn:hover {
    background: white;
    color: #4da3ff;
    border: 1px solid #4da3ff;
}